{% extends 'base.html.twig' %}

{% block title %}Seats - chooser{% endblock %}

{% block container%}
    <div>
        <h1>Choisissez un siège</h1>
        <h3>Séance du
            {{ reservation.programme.date ? reservation.programme.date|date('d/m/Y') }}
             à
            {{ reservation.programme.date ? reservation.programme.date|date('H:i') }}
             pour
            "{{ reservation.programme.film.title }}"

        </h3>
        <h3>Nombre de sièges collectionnés : <span id="nombreSelectionne">{{ nombreSieges }}</span></h3>
        <div class="center-content sieges" id="sieges">

            {% set rangActuel = 0 %}
            {% set rangeeActuelle = 0 %}
            <div class="ligne-sieges">
            {% for seat in room.seats %}
                {% if(rangActuel == siegesParRang) %}
                    </div>

                    <div class="ligne-sieges">

                    {% set rangeeActuelle = rangeeActuelle+1 %}
                    {% set rangActuel = 0 %}
                {% endif %}
                {% if (seat in reservation.seats)%}
                    <div class="seat selected"
                         data-seat-id="{{ seat.id }}"
                         data-is-reserved="0">
                        {{ ux_icon("seats:seat", {class: 'size-3'}) }}
                    </div>
                {% else %}
                    {% if (seat in seatsProgramme) %}
                        <div class="seat reserved"
                             data-seat-id="{{ seat.id }}"
                             data-is-reserved="1">
                            {{ ux_icon("seats:seat", {class: 'size-3'}) }}
                        </div>
                    {% else %}
                        <div class="seat"
                             data-seat-id="{{ seat.id }}"
                             data-is-reserved="0">
                            {{ ux_icon("seats:seat", {class: 'size-3'}) }}
                        </div>
                    {% endif %}
                {% endif %}

                {% set rangActuel = rangActuel+1  %}
            {%endfor%}

                    </div>
        </div>
        <br><br><br><br>
        <div class="center">
            <div class="ecran">
            </div>

        </div>
        <div class="center">
            <br>
            <p>écran</p>
        </div>


        <form method="POST" action="{{ path('reservation_update_seats', {id: reservation.id}) }}">
            <input
                type="hidden"
                name="selectedSeats"
                id="selectedSeats"
                value="{{ reservation.seats|map(seat => seat.id)|json_encode|e('html_attr') }}"
            >
            <button class="btn btn-lg btn-primary" type="submit">Enregistrer</button>
        </form>



    </div>

    <script>
        const selectedSeats = new Set();
        const selectedSeatsInput = document.getElementById("selectedSeats");
        const updateSelectedSeatsInput = () => {
            selectedSeatsInput.value = JSON.stringify([...selectedSeats]);
        };

        const maxSeats = {{ numberWanted }};
        document.getElementById('nombreSelectionne').textContent = {{ nombreSieges }};
        document.querySelectorAll('.seat').forEach(seat => {
            if (seat.classList.contains('selected')) {
                selectedSeats.add(seat.dataset.seatId);
            }

            seat.addEventListener('click', () => {
                const id = seat.dataset.seatId;

                if (seat.dataset.isReserved === '1') {
                    return;
                }

                if (!seat.classList.contains('selected') && maxSeats!==-1 && selectedSeats.size >= maxSeats) {
                    alert("Vous ne pouvez sélectionner que " + maxSeats + " sièges.");
                    return;
                }

                if (seat.classList.contains('selected')) {
                    seat.classList.remove('selected');
                    selectedSeats.delete(id);

                }else {
                    seat.classList.add('selected');
                    selectedSeats.add(id);

                }

                document.getElementById('nombreSelectionne').textContent = selectedSeats.size.toString();
                updateSelectedSeatsInput();
            });
        });

        document.querySelector("form").addEventListener("submit", () => {
            updateSelectedSeatsInput();
        });




    </script>
{% endblock %}
