{% extends 'base.html.twig' %}

{% block title %}Outils{% endblock %}

{% block container %}
    <aside class="tools-menu">
        <ul>
            <li><strong><a href="{{ url('admin.index') }}">{{ ux_icon('dashboard:settings') }} Dashboard</a></strong></li>
            {% if is_granted('ROLE_MODERATOR') %}
                <strong>{{ ux_icon('dashboard:chat') }} Modération</strong>
                <li>Commentaires</li>
            {% endif %}
            {% if is_granted('ROLE_FUND_MANAGER') %}
                <strong>{{ ux_icon('dashboard:watching') }} Gestion des films</strong>
                <li><a href="{{ url('admin.film.index') }}">Films & Genres</a></li>
                <li><a href="{{ url('admin.programme.index') }}">Programmations</a></li>
                <strong>{{ ux_icon('dashboard:business') }}Trucs financiers</strong>
                <li><a>trucs</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <strong>{{ ux_icon('dashboard:group') }} Gestion des individus</strong>
                <li><a href="{{ url('admin.user.index') }}">Utilisateurs</a></li>
                <li><a>Personnes</a></li>
                <strong>{{ ux_icon('dashboard:log') }} Journaux</strong>
                <li><a href="{{ url('admin.logs') }}">Journaux d'opérations</a></li>
            {% endif %}
        </ul>
    </aside>

    <div class="vertical">
        {% block main %}{% endblock %}
    </div>
{% endblock %}
