{% extends 'base.html.twig' %}

{% block title %}Outils{% endblock %}

{% block container %}
    <aside class="tools-menu">
        <ul>
            <li><a href="{{ url('admin.index') }}">{{ ux_icon('dashboard:settings') }} index jsp quoi mettre en titre</a></li>
            {% if is_granted('ROLE_MODERATOR') %}
                <li>{{ ux_icon('dashboard:chat') }} Modération des commentaires</li>
            {% endif %}
            {% if is_granted('ROLE_FUND_MANAGER') %}
                <li><a href="{{ url('admin.film.index') }}">{{ ux_icon('dashboard:watching') }} Gestion des films</a></li>
                <li>Trucs financiers</li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ url('admin.user.index') }}">{{ ux_icon('dashboard:group') }} Gestion utilisateurs</a></li>
                <li><a>{{ ux_icon('dashboard:group') }} Gestion des individus</a></li>
            {% endif %}
        </ul>
    </aside>

    <div class="vertical">
        {% block main %}{% endblock %}
    </div>
{% endblock %}
