{% extends 'admin_pages/base.html.twig' %}

{% block title %}Outils{% endblock %}

{% block main %}
<div class="example-wrapper">
    <p>
        Bienvenue dans la partie administration.<br/>
        Choisissez votre action dans le menu latéral. Ou ici:
    </p>
    <ul class="tools">
        {% if is_granted('ROLE_MODERATOR') %}
            <strong>{{ ux_icon('dashboard:chat') }} Commentaires</strong>
            <li><a href="{{ url('admin.reports.index') }}">Derniers Signalements</a></li>
            <li><a href="{{ url('admin.reports.list') }}">Tous les Signalements</a></li>
            <li><a href="{{ url('admin.comment.index') }}">Tous les commentaires</a></li>
        {% endif %}
        {% if is_granted('ROLE_FUND_MANAGER') %}
            <strong>{{ ux_icon('dashboard:watching') }} Gestion des films</strong>
            <li><a href="{{ url('admin.film.index') }}">Films & Genres</a></li>
            <li><a href="{{ url('admin.carousel.index') }}">Films à l'affiche</a></li>
            <li><a href="{{ url('admin.programme.index') }}">Programmations</a></li>
            <li><a href="{{ url('admin.room.index') }}">Salles</a></li>
            <li><a href="{{ url('admin.lang.index') }}">Langues</a></li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <strong>{{ ux_icon('dashboard:group') }} Gestion des individus</strong>
            <li><a href="{{ url('admin.user.index') }}">Utilisateurs</a></li>
            <li><a href="{{ url('admin.personality.index') }}">Personnalité</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
