{% extends 'base.html.twig' %}

{% block title %}Recherche: {{ query }}{% endblock %}

{% block container %}
<div class="row">
    <p>Recherche pour: "<strong>{{ query }}</strong>"</p>
    <div class="col-md-6 col-sm-12">
        <h1>Films:</h1>
        {% if films is not empty %}
            <table class="table table-striped">
                <tr><th>Titre</th></tr>
                {% for film in films %}
                    <tr>
                        <td class="imagePreview"><a href="{{ url('film.show', parameters = {slug: film.slug}) }}"><img src="{{ asset(path=film.cover_path, packageName='films_cover') }}" alt="affiche du film" class="imagePreview"/> {{ film.title }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <em>Aucun films ne correspond à votre recherche.</em>
        {% endif %}
    </div>

    <div class="col-md-6 col-sm-12">
        <h1>Personnalités:</h1>
        {% if personalities is not empty %}
            <table class="table table-striped">
                <tr><th>Titre</th></tr>
                {% for personality in personalities %}
                    <tr>
                        <td class="imagePreview"><a href="{{ url('personality.show', parameters = {id: personality.id}) }}"><img src="{{ asset(path=personality.photo, packageName='profil_pictures') }}" alt="Photot de la personnalités" class="imagePreview"/> {{ personality.firstname }} {{ personality.lastname }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <em>Aucun films ne correspond à votre recherche.</em>
        {% endif %}
    </div>
</div>
{% endblock %}
